@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Microsoft Yi Baiti";
  src: url("../fonts/msyi/msyi.ttf") format("truetype");
}
@font-face {
  font-family: "LeJourScript";
  src: url("../fonts/din-studio-le-jour/LeJourScript-Eaqpg.otf");
}
@font-face {
  font-family: "LeJourSerif";
  src: url("../fonts/din-studio-le-jour/LeJourSerif-OVZMo.otf");
}
[class*=fade-] {
  opacity: 0;
}

.reveal {
  opacity: 0;
}

.reveal-visible {
  opacity: 1;
  transition: 3s cubic-bezier(0.5, 0, 0, 1);
}

.fade-visible {
  opacity: 1;
  transition: 10s cubic-bezier(0.5, 0, 0, 1);
}

.fade-1 {
  transition-delay: 0s;
}

.fade-2 {
  transition-delay: 0.5s;
}

.fade-3 {
  transition-delay: 2s;
}

.custom-p {
  opacity: 0;
  transition: opacity 5s;
}

.scroll-class {
  opacity: 1;
}

html {
  font-family: "Microsoft Yi Baiti";
  height: 100%;
  width: 100%;
}

body {
  font-family: "Microsoft Yi Baiti";
  font-size: 18px;
  color: black;
  height: 100vh;
  width: 100%;
  position: relative;
}

html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging,
html.has-scroll-dragging * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

hr {
  width: 50%;
  margin: 3rem auto;
}

.container {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.loader {
  background: #1a1818;
  width: 100%;
  height: 100vh;
  z-index: 1000000;
  position: absolute;
  transform: translateY(0%);
}

.loaded {
  transform: translateY(-100%);
  transition: 0.7s cubic-bezier(0.88, 0.06, 0.83, 0.67);
  transition-delay: 0.4s;
}

.fondu-out {
  opacity: 0;
  transition: opacity 4s ease-out;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header-up,
.header-down {
  position: fixed;
  z-index: 10000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.15rem;
}

.header-up {
  top: 0;
  mix-blend-mode: exclusion;
}
.header-up .header-logo {
  margin: 1rem;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid white;
  background-color: white;
  border-radius: 50%;
}

.header-down {
  bottom: 0;
  transition: 0.4s all ease-out;
}

.header-item {
  display: flex;
  text-align: center;
  padding: 1rem;
}
.header-item a {
  text-decoration: none;
  color: black;
}

.header-socials a {
  font-size: 1.2rem;
  margin: 0.3rem 0;
  cursor: pointer;
  padding: 0 0.3rem;
  transition: 0.2s ease-out;
}
.header-socials a:hover:nth-child(1) {
  color: #f26a39;
}
.header-socials a:hover:nth-child(2) {
  color: #3b5998;
}
.header-socials a:hover:nth-child(3) {
  color: #B4D45F;
}

.header-logo img {
  width: clamp(2rem, 3vw, 10rem);
  height: clamp(2rem, 3vw, 10rem);
}

.header-job {
  cursor: default;
  flex-direction: column;
}

.header-job p {
  text-transform: uppercase;
}
.header-job p:first-child {
  font-weight: 900;
}

.header-year {
  transform: rotate(90deg);
  text-orientation: upright;
}

.header-white {
  background: white;
}

.hero {
  height: 100vh;
  max-height: 100vh;
  width: 100%;
  position: relative;
  background-image: url(../images/NBLOGOforweb.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#marginMenu {
  margin-top: 5rem;
}

.nav__container {
  width: 100%;
  margin: 0 auto;
  list-style-type: none;
  font-family: "Cormorant Garamond", sans-serif;
}
.nav__container h2 {
  font-family: "Cormorant Garamond", sans-serif;
  font-size: 6vw;
  font-weight: 500;
}
.nav__container .item {
  position: relative;
  width: 100%;
  color: #C92D1F;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  overflow: hidden;
}
.nav__container .item:before {
  content: "";
  position: absolute;
  height: 1px;
  background: #C92D1F;
  left: 0;
  bottom: 0;
  width: 100%;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 1.8s ease-in-out;
  transition-delay: 0.9s;
}
.nav__container .item.visible {
  opacity: 1;
}
.nav__container .item.visible:before {
  transform: scaleX(1);
}
.nav__container .item.visible .item__content {
  transform: translateY(0);
}
.nav__container .item:hover .item__content {
  color: white;
}
.nav__container .item:hover .item__background {
  background-size: 120%;
}
.nav__container .item:hover .item__background:after {
  transform: translateY(-100%);
}
.nav__container .item .item__link {
  text-decoration: none;
}
.nav__container .item .item__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  transition: background-size 0.5s ease-out;
}
.nav__container .item .item__background:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.nav__container .item .item__background:after {
  content: "";
  position: absolute;
  inset: 0;
  transform: translateY(0);
  background: white;
  transition: transform 0.3s ease-out;
}
.nav__container .item .item__content {
  display: flex;
  width: 100%;
  padding: 0 3vw;
  height: 13vw;
  align-items: center;
  transform: translateY(20%);
  transition: transform ease-out 1s, color ease-in-out 0.3s;
  color: #C92D1F;
  cursor: pointer;
}
.nav__container .item .item__content .item__number {
  font-weight: 500;
  text-decoration: underline;
  margin-right: 2vw;
  margin-top: 4vw;
  font-size: 2vw;
  align-self: flex-start;
  text-underline-offset: 12px;
}
.nav__container .item .item__content .item__metas {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 2.7vw;
}
.nav__container .item .item__content .item__metas span {
  font-weight: 100;
  font-size: 1vw;
  text-transform: uppercase;
  letter-spacing: 0.02vw;
}
.nav__container .item .item__content .item__metas strong {
  font-size: 1.6vw;
  font-weight: 100;
  font-family: "Crimson Text", serif;
}

section h1 {
  font-size: 3em;
}
section p {
  font-size: 1.2em;
}
section a {
  font-weight: bold;
}

.section1 {
  width: 100%;
  position: relative;
}

.myprojects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.myprojects:hover .project-card {
  opacity: 1;
}

.myprojects .project-card:hover {
  background-image: brightness(50%);
}

/* Project Card */
.project-card {
  width: 400px;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 250ms opacity ease-in-out;
  z-index: 100;
  margin: 7% 25px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}

#project-card-1 {
  background-image: url(../images/jesuisangeposter.jpg);
  background-position: center;
}

#project-card-2 {
  background-image: url(../images/redhairposter2.jpg);
  background-position: 25% 75%;
}

#project-card-3 {
  background-image: url(https://poloskanini.github.io/Dicee3D/images/backgroundDice.jpg);
  background-position: center;
}

#project-card-4 {
  background-image: url(https://poloskanini.github.io/SNGAF-maquette/content/94414604_m_darker.jpg);
  background-position: right;
}

#project-card-5 {
  background-image: url(../images/rudorposter.jpg);
  background-position: center;
}

#project-card-6 {
  background-image: url(../images/dropplist.png);
  background-position: center;
}

#project-card-7 {
  background-image: url(../images/kaamelottposter.jpg);
  background-position: center;
}

#project-card-8 {
  background-image: url(../images/SFG3.png);
  background-position: center;
}

#project-card-9 {
  background-image: url(../images/smartphone_mockup2.png);
  background-position: center;
}

.project-card .overlay {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 2rem;
  border-bottom: 1px solid #000000;
  color: #FFF;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: hard-light;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  z-index: 10;
}

.project-card img {
  display: block;
  position: relative;
  transition: all 0.35s;
}

.project-card h2 {
  position: relative;
  font-size: 1.8rem;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 1;
}

.project-card p {
  font-size: 1.5rem;
  font-weight: 800;
}

.project-card a, .project-card p {
  color: #FFF;
  padding: 1em 0;
  opacity: 1;
}

.mywork {
  font-family: "Cormorant Garamond";
  text-align: center;
  top: 90%;
  width: 100%;
  position: relative;
  z-index: 100;
  mix-blend-mode: overlay;
}
.mywork p {
  font-size: clamp(25px, 10vw, 75px);
  width: 100%;
}
.mywork .quote {
  font-size: clamp(15px, 6vw, 50px);
}

.custom-shape-divider-top-1644230293 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 1;
  opacity: 0.5;
}

.custom-shape-divider-top-1644230293 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 102px;
}

.custom-shape-divider-top-1644230293 .shape-fill {
  fill: #FFFFFF;
}

.section2 {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgba(255, 255, 255, 0));
}

.section2 video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.yourproject {
  font-family: "Cormorant Garamond";
  z-index: 1000;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #FFF;
  position: absolute;
  top: 50%;
}
.yourproject p {
  font-size: clamp(40px, 5vw, 80px);
}

#competences {
  font-family: "Cormorant Garamond";
}

.my-technologies {
  margin: 3rem 0;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 60% auto;
}
.grid .left-column .langage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  font-family: "Cormorant Garamond";
  font-size: clamp(1rem, 2vw, 4vw);
  font-weight: bold;
  color: floralwhite;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.grid .left-column .langage-item img {
  z-index: 0;
  width: clamp(100px, 8vw, 10vw);
  opacity: 0.4;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.grid .left-column .langage-item p {
  z-index: 1;
}
.grid .left-column .langage-item span {
  display: inline-block;
}
.grid .left-column .langage-item:nth-child(1) {
  background: rgb(48, 139, 186);
  background: radial-gradient(circle, rgb(48, 139, 186) 0%, rgb(143, 207, 225) 100%);
}
.grid .left-column .langage-item:nth-child(2) {
  background: rgb(207, 100, 155);
  background: radial-gradient(circle, rgb(207, 100, 155) 0%, rgba(222, 104, 105, 0.8029805672) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid .left-column .langage-item:nth-child(3) {
  background: rgb(247, 223, 28);
  background: radial-gradient(circle, rgb(247, 223, 28) 0%, rgb(128, 118, 41) 100%);
}
.grid .left-column .langage-item:nth-child(4) {
  background: rgb(162, 171, 226);
  background: radial-gradient(circle, rgb(162, 171, 226) 0%, rgb(86, 93, 195) 100%);
}
.grid .left-column .langage-item:nth-child(5) {
  background: rgb(51, 153, 218);
  background: radial-gradient(circle, rgb(51, 153, 218) 0%, rgb(72, 108, 131) 100%);
}
.grid .left-column .langage-item:nth-child(6) {
  background: rgb(0, 216, 255);
  background: radial-gradient(circle, rgb(0, 216, 255) 0%, rgb(25, 125, 143) 100%);
}
.grid .left-column .langage-item:nth-child(7) {
  background: rgb(36, 81, 93);
  background: radial-gradient(circle, rgb(36, 81, 93) 0%, rgb(90, 122, 130) 100%);
}
.grid .left-column .langage-item:nth-child(8) {
  background: rgb(254, 101, 87);
  background: radial-gradient(circle, rgb(254, 101, 87) 0%, rgb(251, 173, 63) 100%);
}
.grid .left-column .langage-item:nth-child(9) {
  background: rgb(231, 174, 226);
  background: radial-gradient(circle, rgb(231, 174, 226) 0%, rgb(152, 103, 193) 100%);
}
.grid .right-column img {
  width: 100%;
  height: 96vh;
  -o-object-fit: cover;
     object-fit: cover;
}

#about-me {
  width: 100%;
  min-height: 100vh;
}
#about-me .about-me-content {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% auto;
  margin: 4rem 0;
}
#about-me .about-me-content .about-me-text {
  padding: 3rem;
  margin: 0 auto;
  font-family: "Cormorant Garamond", sans-serif;
}
#about-me .about-me-content .about-me-text .about-me-intro {
  margin-bottom: 2rem;
}
#about-me .about-me-content .about-me-text .about-me-intro h3 {
  font-size: clamp(20px, 7vw, 70px);
  font-weight: 500;
}
#about-me .about-me-content .about-me-text .about-me-intro h4 {
  font-size: clamp(1.2rem, 5vw, 45px);
  font-weight: 100;
  font-style: italic;
}
#about-me .about-me-content .about-me-text .about-me-paragraphs {
  line-height: 1.4;
}
#about-me .about-me-content .about-me-text .about-me-paragraphs h4 {
  font-weight: bold;
  text-decoration: underline;
}
#about-me .about-me-content .about-me-image {
  background-image: url(../images/nico2.png);
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 30vw;
  margin: 0 auto;
  position: relative;
}
#about-me .about-me-content .about-me-image .about-me-border {
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -30px;
  bottom: 0px;
  left: 30px;
  right: 0;
  width: 30vw;
  height: 400px;
  z-index: -10;
}

#contact {
  min-height: 50vh;
  font-family: "Cormorant Garamond", sans-serif;
}
#contact .contact-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
#contact .contact-content .contact-left,
#contact .contact-content .contact-right {
  margin: 0 auto;
}
#contact .contact-content .contact-email,
#contact .contact-content .contact-socials {
  display: flex;
}
#contact .contact-content .contact-link {
  padding-left: 2rem;
}
#contact .contact-content .contact-link a {
  text-decoration: none;
  color: #606887;
  font-size: 1.25rem;
  position: relative;
}
#contact .contact-content .contact-link a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: #606887;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
#contact .contact-content .contact-link a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
#contact .contact-content .socials-link {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  .project-card {
    max-width: 100px;
    max-height: 100px;
  }
  .section1 {
    height: auto;
  }
}
@media screen and (max-width: 1000px) and (max-width: 768px) {
  .item__content {
    padding: 0;
  }
  .grid {
    display: flex;
  }
  .grid .left-column {
    width: 100%;
  }
  .grid .left-column .langage-item {
    height: 20vh;
  }
  .grid .right-column {
    display: none;
  }
  #about-me .about-me-content {
    display: flex;
    flex-direction: column-reverse;
  }
  #about-me .about-me-content .about-me-image {
    width: 100%;
  }
  #about-me .about-me-content .about-me-border {
    display: none;
  }
  #contact .contact-content {
    display: block;
  }
  #contact .contact-content .contact-email,
  #contact .contact-content .contact-socials {
    flex-direction: column;
    margin: 1rem 0;
  }
  #contact .contact-content .contact-email h3,
  #contact .contact-content .contact-socials-title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .project-card:hover .overlay {
    opacity: 1;
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */