@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Microsoft Yi Baiti";
  src: url("../fonts/msyi/msyi.ttf") format("truetype");
}

html {
  font-family: 'Microsoft Yi Baiti';
}

body {
  background-color: white;
  font-family: 'Microsoft Yi Baiti';
  font-size: 18px;
  overscroll-behavior: none;
  color: black;
}

.container {
  overflow: hidden;
  position: relative;
}

.ghostbox {
  width: 100%;
  height: 500px;
  background-color: lightblue;
  margin-bottom: 14rem;
}

[class*="fade-"] {
  opacity: 0;
}

.fade-visible {
  opacity: 1;
  -webkit-transition: 2.6s cubic-bezier(0.5, 0, 0, 1);
  transition: 2.6s cubic-bezier(0.5, 0, 0, 1);
}

.fade-1 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.fade-2 {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.fade-3 {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

.hero {
  height: 100vh;
  width: 100%;
  position: relative;
  background: white;
  background-image: url(../images/NBLOGOforweb.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  z-index: 10000;
}

.hero-item {
  position: fixed;
  width: 300px;
  height: 100px;
  padding: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-item a {
  text-decoration: none;
  color: black;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.hero-logo {
  top: 0;
  left: 0;
  background-image: url(../images/NBLOGOforweb.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.hero-contact {
  top: 0;
  right: 0;
}

.hero-contact a {
  padding: 2rem;
}

.hero-contact a:hover,
.hero-socials a:hover {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  -webkit-transition: 4s all ease-in-out;
}

.hero-job {
  cursor: default;
}

.hero-socials {
  bottom: 0;
  right: 0;
}

.hero-job {
  bottom: 0;
  left: 0;
}

.hero-job p {
  text-transform: uppercase;
}

.hero-job p:first-child {
  font-weight: 900;
}

section h1 {
  font-size: 3em;
}

section p {
  font-size: 1.5em;
}

section a {
  color: white;
  font-weight: bold;
}

.section1 {
  max-width: 1800px;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: (400px)[3];
      grid-template-columns: repeat(3, 400px);
  -ms-grid-rows: (300px)[2];
      grid-template-rows: repeat(2, 300px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  margin-top: 5rem;
  position: relative;
}

.custom-p {
  opacity: 0;
  -webkit-transition: opacity 5s;
  transition: opacity 5s;
}

.scroll-class {
  opacity: 1;
}

/* Project Card */
.project-card {
  width: 400px;
  height: 600px;
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: .5s opacity ease-in-out;
  transition: .5s opacity ease-in-out;
  cursor: pointer;
  opacity: .9;
}

.section1 {
  max-width: 1800px;
  width: 80%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[3];
      grid-template-columns: repeat(3, 300px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 40px;
}

.project-card {
  width: 300px;
  height: 600px;
  z-index: 100;
}

.project-card:hover {
  -webkit-filter: grayscale(90%) contrast(100%);
          filter: grayscale(90%) contrast(100%);
}

.project-card:nth-child(1) {
  background-image: url(https://poloskanini.github.io/SNGAF-maquette/content/94414604_m_darker.jpg);
  background-position: right;
}

.project-card:nth-child(2) {
  background-image: url(../images/redhairposter2.jpg);
  background-position: 25% 75%;
}

.project-card:nth-child(3) {
  background-image: url(https://poloskanini.github.io/Dicee3D/images/backgroundDice.jpg);
  background-position: center;
}

.project-card:nth-child(5) {
  background-image: url(../images/jesuisangeposter.jpg);
  opacity: 1;
}

.project-card:nth-child(6) {
  background-image: url(../images/newyorkposter.jpg);
  opacity: 1;
}

.project-card:nth-child(7) {
  background-image: url(../images/rudorposter.jpg);
  opacity: 1;
}

.project-card .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.project-card:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.project-card img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.project-card h2 {
  position: relative;
  font-size: 1.5rem;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
}

.project-card p {
  font-size: 2.5rem;
  font-weight: 800;
  text-shadow: 0px 0px 1px gray;
}

.project-card a, .project-card p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  text-decoration: none;
}

.project-card:hover a, .project-card:hover p, .project-card :hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.section-0 {
  font-family: 'Cormorant Garamond';
  text-align: center;
  top: 100%;
  left: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: fixed;
  margin-top: 10rem;
  cursor: default;
}

.section-0 p {
  font-size: clamp(25px, 5vw, 75px);
}

.section-0 .quote {
  font-size: 3vw;
}

@media screen and (max-width: 600px) {
  header {
    width: 100%;
    height: 10vh;
    background-color: white;
    position: fixed;
  }
  .header-up {
    top: 0;
  }
  .header-down {
    bottom: 0;
  }
  .hero-item {
    width: 200px;
  }
  .project-card {
    height: 200px;
  }
  .section1 {
    -ms-grid-rows: (1fr)[7];
        grid-template-rows: repeat(7, 1fr);
    -ms-grid-columns: inherit;
        grid-template-columns: inherit;
  }
  .section-0 {
    position: absolute;
    top: -13%;
    left: 30%;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */